img[alt="alert"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

img[alt="toast-alert"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
img[alt="banner-alert"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

img[alt="alert-anatomi"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

img[alt="liten-alert-anatomi"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

img[alt="eksempeltekst"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

img[alt="eksempeltekst-mobil"] {
  max-height: 544px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

img[alt="grid-gif"] {
  max-width: 844px;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
