@charset "utf-8";

@use "@pkt/scss/abstracts/variables" with (
  $font-path: "@oslokommune/punkt-assets/dist"
);

/* Bruk designsystemet */
@use "@pkt/scss/pkt";

// Local
@use "frontpage";
@use "typography";
@use "page-container";
@use "page-tabs";
@use "animations";
@use "images";
@use "status-badge";

@use "sass:map";

@use "@pkt/scss/abstracts/mixins/breakpoints" as *;

$navigation-width: 17rem;

body {
  min-width: 320px;
}

@include bp("tablet-up") {
  .pkt-footer-main {
    margin-left: $navigation-width;
  }

  .pkt-footer-frontpage {
    margin-left: 0;
  }
}

.green-icon > svg {
  --fg-color: var(--pkt-color-brand-dark-green-1000);
}
